.recipe{
    width: 700px;
    padding-top: 1rem;
    margin: 0 auto;
}

.recipe-head{
    display: flex;
    
}
.left{
    width: 50%; 
    padding-right: 3rem;
    padding-left: 1rem;
}

.desc{
    font-size: large;
}

hr.solid {
  
    width: 400px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-top: 1px solid white;
    margin-right: auto;
    margin-left: auto;
  }

  .list{
    padding-bottom: 1.5rem;
  }

/*  */